<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                                   http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- No Constructor -->
	<bean id="dukeOne" class="com.example.constructor.Juggler" />

	<!-- Use Constructor to set value to bean -->
	<bean id="dukeMany" class="com.example.constructor.Juggler">
		<constructor-arg value="15" />
	</bean>

	<!-- Use Constructor to set value to bean -->
	<bean id="poeticJuggler"
		class="com.example.constructor.PoeticJuggler">
		<constructor-arg value="15" />
		<constructor-arg ref="sonnetSong" />
	</bean>

	<bean id="sonnetSong" class="com.example.constructor.SonnetSong" />


	<!-- ============================================================================= -->

	<!-- Use Setter to set value to bean -->
	<bean id="instrumentalistForSaxophone"
		class="com.example.propertySetter.Instrumentalist">
		<property name="song" value="Jingle Bell" />
		<property name="instrument" ref="saxophone" />
	</bean>

	<bean id="saxophone" class="com.example.propertySetter.Saxophone" />

	<bean id="instrumentalistForPiano"
		class="com.example.propertySetter.Instrumentalist">
		<property name="song" value="Twinkle Twinkle" />
		<property name="instrument" ref="piano" />
	</bean>

	<bean id="piano" class="com.example.propertySetter.Piano" />
	
		<!-- ============================================================================= -->

	<!-- Use Autowire byType -->
	<bean id="instrumentalistForAutowire"
		class="com.example.propertySetter.Instrumentalist" autowire="byType">
		<property name="song" value="Baa Baa Black Sheep" />
		<!-- Instrument is Autowired to Saxophone byType  and it is Primary over Piano -->
	</bean>
	
	<bean id="saxophoneFirst" class="com.example.propertySetter.Saxophone" primary="true" />

</beans>